{{define "content"}}
<div class="container1">
    <div class="W1200">
        <div class="sub_nav">
            <p>
                <span>游戏类型：</span>
                <a class="on" href="/game/">全部游戏</a>
                {{ range .category }}
                <a  href="/game?category={{ .ID }}.html" title="{{ .Title }}">{{ .Title }}</a>
                {{ end }}
            </p>
            <p>
                <span>排序方式：</span>
                <a href="/game/" class="on">最新</a>
                <a href="/game/2_2_1.html" >热门</a>
            </p>
        </div>
        <div class="container-list">
            <ul class="clear_">
                {{ range .list }}
                    <li>
                        <h4>
                            <a href="/cultivate/{{ .ID }}.html" title="{{ .Title }}" target="_blank">{{ .Title }}</a>
                        </h4>
                        <div>
                            <a href="/cultivate/{{ .ID }}.html" title="{{ .Title }}" target="_blank">
                                <img src="{{ .Image }}">
                            </a>
                            <p>
                                <b>类型：<span>{{ .Category.Title }}</span></b>
                                <b>版本：<span>{{ .Version }}</span></b>
                                <u>{{ .Desc }}</u>
                            </p>
                        </div>
                        <h6><i>{{ .Size }}</i><em>{{ .CreatedAt.Format "2006-01-02" }}</em></h6>
                    </li>
                {{ end }}
            </ul>
        </div>
        <!-- 分页 -->
        <div class="page">
            <a href='/game/' class='hover currentPage on'>1</a>
            <a href='/game/2_1_2.html' class=''>2</a>
            <a href='/game/2_1_3.html' class=''>3</a>
            <a href='/game/2_1_4.html' class=''>4</a>
            <a href='/game/2_1_5.html' class=''>5</a>
            <a href='/game/2_1_6.html' class=''>6</a>
            <a href='/game/2_1_7.html' class=''>7</a>
            <a href='/game/2_1_2.html' class='nextPage on'>下一页</a>
            <a href='/game/2_1_506.html' class='lastPage on'>末页</a>
        </div>
    </div>
</div>
{{end}}