{{ define "content" }}
<div class="container1">
    <div class="W1200">
        <div class="r-t">
            <div class="r-t37">
                <h2 class="r-t-h2">{{ .news.Title }}</h2>
                <p class="r-t-p">
                    <span>{{ .news.CreatedAt.Format "2006-01-02" }}</span>
                    <span>{{/* .news.Author */}}</span>
                </p>
            </div>
            <div class="r-t-menu">
                <div class="r-t-menu-l">
                <a href="/detail/{{ .news.Product.ID }}" target="_blank" class="r-t-menu-img">
                    <img src="{{ .news.Product.Image }}" />
                </a>
                <ul>
                    <li class="r-t-menu-l1">
                        <a target="_blank" href="/detail/{{ .news.Product.ID }}">{{ .news.Product.Title }}</a>
                    </li>
                    <li class="r-t-menu-l2">
                        <span>
                            类型：<a target="_blank" href="/game?category={{ .news.Product.Category.ID }}">{{ .news.Product.Category.Name }}</a>
                        </span>
                        <span>大小：<a>{{ .news.Product.Size }}</a></span>
                    </li>
                </ul>
                </div>
                <div class="r-t-menu-r">
                    <a target="_blank" href="/detail/{{ .news.Product.ID }}">安卓下载</a>
                    <a target="_blank" href="javascript:void (0);">暂无下载</a>
                </div>
            </div>
            <div class="r-t-details">
                <div class="detail">
                    <div class="divcontent">{{ .news.Content }}</div>
                </div>
            </div>
            <div class="a-about">
                <div class="head-more">
                    <p class="Bold">相关文章</p>
                    <a target="_blank" href="/news/">更多&gt;&gt;</a>
                </div>
                <ul class="a-about-list">
                    <li>
                        <a target="_blank" href="/news/356">
                            <img class="lazy" src="https://img.homevv.com/uploadimg/ico/2020/0611/1591870298563429.jpg" alt="荒野乱斗新手怎么玩 新手如何入门" style="display: block;" />
                        </a>
                        <p><a target="_blank" href="/news/356">荒野乱斗新手怎么玩 新手如何入门</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-right">
            <!--热门推荐-->
            <div class="newasp">
                <div class="b-hot newCon">
                    <div class="b-r-tit">
                        <a class="b-br-a1 b-r-active"><i></i>编辑推荐</a>
                    </div>
                    <div class="b-hot-t">
                    <ul style="display:block">
                        <li class="b-hot-active">
                            <a href="/news/101" target="_blank">
                                <img class="b-hot-t-img" src="https://img.homevv.com/uploadimg/ico/2019/0506/1557129470967455.png" />
                                <p class="b-hot-t-p">传送门骑士光明王怎么打</p>
                                <span class="b-hot-t-span">2019/05/06</span>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="b-r newCon g-azd-crank">
                    <div class="b-r-tit">
                        <a class="b-br-a1 b-r-active"><i></i>编辑推荐</a>
                    </div>
                    <div class="b-r-con">
                        <ul style="display:block">
                            <li>
                                <a href="/social/17722/" class="b-r-con-img" target="_blank">
                                    <img src="https://img.homevv.com/uploadimg/ico/2020/0910/1599705191708697.png" />
                                </a>
                                <div class="b-r-con-t">
                                    <h3><a href="/social/17722/" target="_blank">有章阅读</a></h3>
                                    <p><a href="/soft/18_1_1">资讯阅读</a> <i></i>19.74MB</p>
                                </div>
                                <a href="/social/17722/" target="_blank" class="b-r-download">查看</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ define "js" }}
<script src="/js/pc/info.js"></script>
{{ end }}