<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>手机游戏下载_手机软件大全_手机游戏排行榜_微微手游</title>
    <meta name="description" content="微微手游是专业的手机游戏和手机软件下载网站，为大家提供最新最热门的手机游戏和手机APP，还有游戏攻略、软件教程、手游排行榜等特色内容。" />
    <link rel="stylesheet" href="/css/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="/css/pc/style.css?v1.1" />
    <meta name="mobile-agent" content="format=html5;url=https://m.homevv.com" />
    <meta name="mobile-agent" content="format=xhtml;url=https://m.homevv.com" />
    <script type="text/javascript">
        if(/Android|webOS|iPhone|iPod|mobile|BlackBerry|ucweb|SymbianOS/i.test(navigator.userAgent)){
            var url=window.location.href;
            try{window.location.href="https://m.homevv.com";
            }catch(e){}
        }
    </script>
  </head>
  <body>
    <div class="header">
      <div class="top_wrap">
        <div class="tool-bar">
          <div class="W1200 clear_">
            <div class="left-text">
              <a href="/">全站首页</a>
            </div>
            <div class="rights-phone">
              <p>手机版</p>
              <div class="ewm">
                <img src="/images/weixin.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--导航-->
      <div class="nav font16">
        <div class="nav-content clear_">
        <a href="/" class="logo fl"></a>
        <div class="nav-list fl clear_">
          <a href="/" {{ if eq .nav "index" }} class="cur-page" {{ end }}>首页</a>
          <a href="/game/" {{ if eq .nav "game" }} class="cur-page" {{ end }}>游戏下载</a>
          <a href="/soft/" {{ if eq .nav "soft" }} class="cur-page" {{ end }}>软件下载</a>
          <a href="/news/" {{ if eq .nav "news" }} class="cur-page" {{ end }}>新闻攻略</a>
          <a href="/hj/" {{ if eq .nav "hj" }} class="cur-page" {{ end }}>合集</a>
          <a href="/top/" {{ if eq .nav "top" }} class="cur-page" {{ end }}>排行榜</a>
        </div>
        <div class="search164 fr">
          <form onsubmit="return false">
            <input type="text" class="input-area" autocomplete="off" placeholder="请输入搜索内容" name="q" id="q" />
            <input class="submit-btn" id="commSearchSubmit" type="submit" value="" onclick="window.open('https://www.baidu.com/s?wd=site:homevv.com%20' + $('#q').val());" />
            <label class="placeholder">请输入搜索内容</label>
          </form>
        </div>
        </div>
      </div>
    </div>
    <!-- 内容 -->
    {{ template "content" . }}
    <!--footer-->
    <div class="footer">
      <div class="W1200">
        <p>Copyright &copy; 2019 homevv.com All Rights Reserved. <br />
          <a href="https://beian.miit.gov.cn" rel="nofollow" target="_blank">蜀ICP备20018393号-1</a>&nbsp;&nbsp;
        </p>
      </div>
    </div>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/swiper-3.4.2.min.js"></script>
    <script src="/js/pc/style.js?v1.0"></script>
  </body>
</html>
